{
    "baseuri": "{{ epic_baseuri }}",
    "username": "{{ epic_user }}",
    "prefix": "{{ epic_prefix }}",
    "password": "{{ epic_pass }}",
    "accept_format": "application/json",
    "debug" : "{{ epic_debug }}"
}

